body { /*font-size: 62.5%;  /* 16px × 62.5% = 10px */ }

#container {
	margin: 0 auto;
	width: 70%;	
}

#workarea {
	margin-top: 0.5em;
}

.workbench {
	clear:left;
	margin-top: 0.5em;
	height: 600px;
	border-style: solid!important;
	border-width: thin!important;
}

.graphic-block { 
	width: 20em;
}

#text-Css {
	color: #8f8e8e;
	display: inline;
	font-family: 'Dancing Script';
}

#text-TYPE {
	color: #8fae6b;
	display: inline;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#header-text-left {
	float:left;
	width: 33%;
	text-align: left;
}

#header-text-left a:link {
	color: #677691;
}

#header-text-right {
	float:right;
	text-align: left;
	width: 33%;
}

#header-text-right p {
	float: right
}

#header-logo {
	font-size: medium;
	width: 33%
}

#button-bar {
  clear: left;
  width: 100%;
  text-align: center;
}

#btn-newGraphBlock {
	background-color: #8fae6b; 
	color: #ffffff; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	border-radius: 0.3em; 
	border: thin solid #000000;
	cursor: pointer;
}

#li-newTab {
	text-align: right;
}

.graphBlock {
	background-color: #999fff;
	color: blue;
	position: absolute;
}

#initial-instructions {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #5e5858;
}

#text-instructions-1 {
	font-size: 0.8em;
}

#text-instructions-2 {
	font-size: 0.6em;
}

.graphBlock-handle {
	position: absolute;
    left: -0.55em;
    background-color: #FFF; 
    color: #000;
    width: 0.5em;
    height: 0.7em;
    cursor: move;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

