body { /*font-size: 62.5%;  /* 16px × 62.5% = 10px */ }

#container {
	margin: 0 auto;
	width: 70%;	
}

#workarea {
	margin-top: 0.5em;
}

.workbench {
	clear:left;
	margin-top: 0.5em;
	height: 600px;
	border-style: solid!important;
	border-width: thin!important;
}

#text-Css {
	color: #8f8e8e;
	display: inline;
	font-family: 'Dancing Script';
}

#text-TYPE {
	color: #8fae6b;
	display: inline;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#header-text-left {
	float:left;
	width: 33%;
	text-align: left;
}

#header-text-left a:link {
	color: #677691;
}

#header-text-right {
	float:right;
	text-align: left;
	width: 33%;
}

#header-text-right p {
	float: right
}

#header-logo {
	font-size: medium;
	width: 33%
}

#button-bar {
  clear: left;
  width: 100%;
  text-align: center;
}

#btn-newGraphBlock {
	background-color: #8fae6b; 
	color: #ffffff; 
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif; 
	border-radius: 0.3em; 
	border: thin solid #000000;
	cursor: pointer;
}

#li-newTab {
	text-align: right;
}

.graphBlock {
	position: absolute;


}

.graphBlock-content {
	float: left;
	background-color: #4F495C;
	color: #FDFA00;
	font-family: "Dancing Script", Arial, Helvetica, sans-serif; 
	font-size: 2em;
	padding: 2px 8px; 
}

#initial-instructions {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #5e5858;
}

#text-instructions-1 {
	font-size: 0.8em;
}

#text-instructions-2 {
	font-size: 0.6em;
}

.graphBlock-handle {
	position: absolute;
    left: -11px;
    background-color: #FFF; 
    color: #000;
    width: 10px;
    height: 14px;
    cursor: move;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toolbox {
	font-size: 11px;
	background-color: #ffffff;
	float: left;
	margin-left: 10px;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.gb-font-color {
	border-style: solid;
	border-width: 1px;
	/*background-color: #fdfa00;*/
	
	width: 1.5em;
	border-color: #000;
	
}

.gb-bg-color {
	/*background-color: #4f495c;*/
	border-style: solid;
	border-width: 1px;
	height: 1.5em;
	width: 1.5em;
	border-color: #000;
	cursor: pointer;
	float: left;
}

.gb-font-style {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	height: 1.5em;
	cursor: pointer;
	border-color: #000;
	float: left;
	margin-right: 4px;
	line-height: 10px;
}

.gb-font-size {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	height: 1.5em;
	cursor: pointer;
	width: 3em;
	float: left;
	margin-right: 4px;
	line-height: 10px;
}

.btn-font {
	cursor: pointer;
	font-size: 14px!important;
	width: 100%;
}

.spectrum-font {
	float: left;
	margin-right: 4px!important;
	
}
