body { 
	/*font-size: 62.5%;  /* 16px × 62.5% = 10px */ 
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #fff;
	overflow: hidden;
}

#workarea {
	padding: 0px;
	border: none;
}

.workbench {
	clear:left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	background-color: #fff!important;
	border-radius: 0px;
	font-size: 10px;
	
}

#header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: #34a772;
}

#header-logo {
	font-size: 160%;
	width: 20%;
	display: inline;
}

#text-Css {
	color: #E9E8E8;
	display: inline;
	font-family: 'Dancing Script';
}

#text-TYPE {
	color: #ffffff;
	display: inline;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#header-save {
	margin-left: 2%;
	width:38%;
	float: left;
}

#btn-clear {
	margin-left: 2%;
}

.btn-storageControl {
	float:left;
	font-size: 110%;
	margin-top: 36px;
	background-color: #2B8B5F;
	border: thin solid #13694E;
	height: 30px;
	width: 6.5em;
	color: #f0f2f1;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: 900;
	padding: 0;
}


.btn-storageControl:hover {
	background-color: #29845a;
	cursor: pointer;
}

.fa-trash-o {
	font-size: 130%;
	margin-right: 2px;
}

.fa-floppy-o {
	font-size: 130%;
	margin-right: 2px;
}

.fa-cog {
	font-size: 130%;
	margin-right: 2px;
}

#header-text-right {
	float:right;
	text-align: left;
	margin-right: 2%;
	color: #fff;
	font-size: 90%;
	width: 38%;
}

#header-text-right p {
	float: right;
	margin-top: 20px;
	line-height: 21px;
}

#button-bar {
  float: left;
  text-align: center;
  background-color: #34a772;
  padding-bottom: 6px;
  width: 20%;
}

#btn-newGraphBlock {
	background-color: #2b8b5f; 
	color: #ffffff; 
	font-weight: bold; 
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	border-radius: 3px; 
	border: thin solid #13694E;
	cursor: pointer;
	width: 2.8em;
	height: 24px;
	margin-top: 5px; 
}

#btn-newGraphBlock:hover {
	background-color: #29845a;
}

#li-newTab {
	text-align: right;
}


.graphBlock {
	position: absolute;
	width: 35%;
}

.graphBlock-content {
	background-color: #ffffff;
	color: #000000;
	float: left;
	font-family: Verdana, Geneva, sans-serif; 
	font-size: 1.6em;
	line-height: 2em;
	padding: 0em 0.8em;
	width: 100%;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	word-wrap: break-word;
}

#initial-instructions {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #5e5858;
}

#text-instructions-1 {
	font-size: 15px;
}

#text-instructions-2 {
	font-size: 13px;
}

.graphBlock-handle {
	position: absolute;
    left: -11px;
    background-color: #FFF; 
    color: #000;
    width: 10px;
    height: 14px;
    cursor: move;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toolbox {
	font-size: 11px;
    margin-left: 6px;
    position: absolute;
    line-height: 16px;
    width: 244px;
}

.toolbox-topbar {
	display: inline-block;
	margin-bottom: 1px;
	width: 244px;
}

.toolbox-bottombar {
	clear:both;
	display: inline-block;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.gb-font-color {
	border-style: solid;
	border-width: 1px;
	width: 1.5em;
	border-color: #000;
}

.gb-bg-color {
	border-style: solid;
	border-width: 1px;
	height: 1.5em;
	width: 1.5em;
	border-color: #000;
	cursor: pointer;
	float: left;
}

.gb-num-input {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	height: 18px;
	width: 36px;
	float: left;
	margin-right: 4px;
	line-height: 10px;
	padding: 1px!important;
}

.gb-padding {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	height: 1.5em;
	width: 3.3em;
	line-height: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.gb-lspacing {
	width: 4em;
}

.gb-width {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	height: 1.5em;
	width: 3.3em;
	margin-right: 1px;
	line-height: 10px;
}

.btn-fontstyle {
	border-style: solid;
	border-width: 1px;
	height: 22px;
	width: 21px;
	border-color: #000;
	cursor: pointer;
	float: left;
	margin-right: 4px;
	line-height: 10px;
	text-align: center;
	padding: 0px;
}

.spectrum-font {
	float: left;
	margin-right: 4px!important;	
}

.btn-css {
	float:left;
	height: 22px;
	width: 25px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #000;
	text-align: center;
	margin-left: 4px;
	font-size: 14px!important;
}

.btn-additional {
	float: left;
	height: 22px;
	width: 25px;
	font-size: 13px!important;
	background-color: #fff;
	border: 1px solid #000;
	cursor: pointer;
	color: #555555;
}

.btn-newFont {
	cursor: pointer;
	height: 22px;
	width: 25px;
	border: 1px solid #000;
	text-align: center;
	font-size: 13px!important;
	background-color: #fff;
	color: #555555;
	float: left;
	margin-left: 4px;
}

.chosen-container {
	width: 186px!important;
	float: left;
}

.chosen-single {
	font-family: "Verdana", "Geneva", "sans-serif";
}

.css-code {
	position: relative;
    background-color: #FFF; 
    color: #000;
    border: 1px solid #000;
    padding: 4px;
    display: block;
    margin-top: 2px;
}

.toolbox-additional {
	position: relative;
    background-color: #FFF; 
    color: #000;
    border: 1px solid #000;
    padding: 4px 0px 4px 4px;
}

.gb-padding-container {
	margin-bottom: 7px;
}

.btn-delGraphBlock {
	color: #ae1414;
	cursor: pointer;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 15px;
	position: absolute;
	margin-left: 3px;
}

#ul-tabs {
	border: none!important;
	background-color: #EEEEEE; 
	border-radius: 0px;
	
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline!important;
}

#baseFontSizeUnits {
	color:#fff;
	display: inline;
}

#baseFontSize {
	width: 2.6em;
	color: #000;
}

#header-baseFontSize {
	float:right;
	margin-top: 12px;
	margin-right: 14%;
}

#newFontOverlay {
	position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}

#newFontContent {
	background-color: #f6f6f6;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 30%;
	-moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

#newFontContent a {
	color: #2B8B5F;
}

#newFontContent p {
	margin-left: 2%;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 0.9em;
}

#header-newFont {
	height: 40px;
	line-height: 40px;
	background-color: #34a772;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
}

#header-newFont h1 {
	font-size: 1.2em;
	margin-left: 2%;
	margin-top: 0;
}

#input-font {
	margin-left: 2%;
	width: 95%;
	margin-bottom: 16px;
}

#newFont-add {
	margin-left: 2%;
}

.newFont-control {
	margin-bottom: 14px;
	border-radius: 0px;
	background-color: #2B8B5F;
	border: thin solid #2e815b;
	color: #fff;
	height: 28px;
	width: 14%;
	margin-left: 1%;
	font-size: 0.9em;
}

.gb-lspacing-container {
	letter-spacing: 4px;
}

.sp-preview {
	width:22px!important;
	height: 20px!important;
}

.sp-replacer {
	margin-bottom: 0px!important;
}

.ui-tabs .ui-tabs-panel {
	padding: 0!important;
}
